.bg-image{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
main{
    position: relative;
}
.bg-image img{
    object-fit: cover;
    transform: skewX(-13deg);
    filter: brightness(85%);
}
.bg-image>:first-child{
    width: 69vw;
    transform-origin: top;
}
.bg-image img:not(:first-child){
    width: 14vw;
    transform-origin: top;
}
.bg-image img:not(:first-child):hover{
    filter: brightness(100%);
    transition: all 200ms ease-in-out;
}

.wrapper{
    position: absolute;
    top: 35%;
    max-width: 30vw;
    margin-left: 25px;
}
.wrapper h1{
    color: white;
    font-family: 'Exo', sans-serif;
}
.wrapper button{
    background: transparent;
    border: 2px solid #fff;
    padding: 10px 15px;
    margin-top: 15px;
}
.wrapper a{
    text-decoration: none;
    color:#fff;
    font-family: 'Exo', sans-serif;
    font-weight: 600;
    font-size: 18px;
}