.ticket-wrapper-2{
    display: flex;
    width: 97%;
    margin-top: 2vh;
}
.ticket-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.ticket-origin, .ticket-destination{
    display: flex;
    flex-direction: column;
}
.ticket-destination{
    text-align: end;
}
.ticket-details{
    display: flex;
    width: 60%;
    align-items: center;
    position: relative;
    padding: 17px;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
    transition: all 200ms linear;
    cursor: pointer;
}

.flight-time{
    display: flex;
    width: 50%;
    margin-right: 15px;
}
.flight-duration, .details{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flight-duration{
    border-right: 1px solid grey;    
    margin-left: 20px;
}
.details{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.details svg{
    width: 22px;
    height: 22px;
    transition: transform 300ms linear;
}
.details-active svg{
    transform: rotate(180deg);
}
.ticket-route{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ticket-route div{
    width: 180px;
    height: 2px;
    background-color: grey;
    margin:10px;
}
.ticket-price{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}
.flight-time::after{
    content: '';
    position: absolute;
    bottom: -23px;
    left: 0;
    width: 100%;
    transform: scaleY(0);
    transform-origin: top;
    height: 4vh;
    transition: 200ms linear ;
    background-color: #fff;
    z-index: 2;
}
.flight-time-active::after{
    content: '';
    position: absolute;
    bottom: -23px;
    left: 0;
    transform: scaleY(1);
    width: 100%;
    height: 4vh;
    background-color: #fff;
    z-index: 2;
}
.economy-class, .business-class{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius:5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
    transition: all 100ms linear;
    cursor: pointer;
}
.economy-class:hover, .business-class:hover, .ticket-details:hover{
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}
.economy-class{
    margin-right: 4%;
}

.dropdown-menu{
    background-color: #fff;
    width: 97%;
    position: absolute;
    margin-top: 2vh;
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 5%);
    transform-origin: top;
    display: flex;
    transition: all 1s ease;
}
.dropdown-menu-active{
    animation: dropdownMenu 600ms linear forwards;
    position: relative;
    animation-delay: 100ms;
    pointer-events: all;
}
@keyframes dropdownMenu{
    0%{
        opacity: o;
        transform: scaleY(0);
    }
    25%{
        transform: scaleY(1);
        opacity: 0.25;
    }
    100%{
        opacity: 1;
    }
}
.dropdown-menu div{
    width: 25%;
}
.text-wrapper div{
    display: flex;
    margin: 5px;
    min-width: max-content;
}
.text-wrapper div img{
    margin-right: 7px;
}
.text-wrapper{
    display: flex;
    flex-direction: column;
    min-width: 100%;
    padding: 15px;
}
.text-wrapper h4{
    margin: 5px;
}
.dropdown-title{
    width: 100%;
    font-size: 1.1em;
    background-color: #000;
    color: #fff;
    padding: 5px;
}
.menu-flight, .menu-from, .menu-to, .menu-duration{
    border: 1px solid lightgrey;
    border-right: none;
}
.menu-duration{
    border-right: 1px solid lightgrey;
}