*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
.top-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10vh;
}
.footer-info{
    display: flex;
    justify-content: space-between;
}
.site-links, .contact{
    display: flex;
    flex-direction: column;
}
.site-links{
    margin-right: 10vw;
    
}
.site-links h4, .contact h4{
    margin-bottom: 10px;
    color: #000;

}
.top-footer ul li{
    margin: 3px;
}

.bottom-footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
}
.button-animation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}